body {
  margin: 0;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}

html,body{
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.column{
  flex-direction:column;
}



.j-between{
  justify-content:space-between ;
}

.flex {
  display: flex;
}



.a-center{
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
